:root {
  --backgroundColor1: hsla(321, 100%, 0%, 1);
  --backgroundColor2: hsla(321, 100%, 0%, 0.64);
  --textColor1: hsla(272, 100%, 96%, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

body {
  background-image: url("backgrounds/houseCats1.png");
  background-size: cover;
  background-repeat: repeat;
}

#controls-div {
  background-color: var(--backgroundColor2);
  padding-bottom: 0.3rem;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  color: var(--textColor1);
}

#input-label {
  color: var(--textColor1);
}

#gen-input {
  padding: 6px 0;
}

#gen-input,
#gen-output,
button {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}

hr {
  color: transparent;
  border-color: transparent;
  height: 6px;
}

#gen-output {
  width: 72%;
  font-family: monospace;
  font-size: 1.24rem;
  padding: 0 6px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 auto;
}

button {
  padding: 0.32rem 1rem;
  border-radius: 6%;
  margin: 0 6pt;
}

#gen-restart {
  position: absolute;
  right: 0;
}

@media (min-width: 570px) {
  body {
    background-image: url("backgrounds/ocelot1.png");
    background-size: cover;
    background-repeat: repeat;
  }

  #gen-input {
    padding-bottom: 0;
  }

  #gen-output {
    font-size: 2.6rem;
  }
}
